name: deploy-podinfo
"on":
  workflow_dispatch:
    inputs:
      destination-group:
        description: the destination group to deploy (mutually exclusive with destination, default "-" for all groups)
        required: false
        type: choice
        options:
        - "-"
        - staging
        - prod
      target-revision:
        description: the revision to deploy, default is github.sha
        type: string
      alveus-file:
        description: alveus file containing deployment metadata
        type: string
        default: ./.config/alveus.toml
  push:
    paths:
    - .alveus/demo/manifests
    branches:
    - main

defaults:
  run:
    shell: bash

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      target-revision: ${{ steps.get-target-revision.outputs.value }}
    steps:
      - name: get target revision
        id: get-target-revision
        run: |-
          if [ "${{ inputs.target-revision }}" == '-' ]; then
            echo "value=${{ github.sha }}" >> $GITHUB_OUTPUT
          else
            echo "value=${{ inputs.target-revision }}" >> $GITHUB_OUTPUT
          fi

  staging:
    uses: ./.github/workflows/alveus.yml
    needs: setup
    with:
      alveus-file: ${{ inputs.alveus-file }}
      destination-group: staging
      target-revision: ${{ needs.analyze.outputs.target-revision }}
