name: deploy-podinfo
"on":
  workflow_dispatch:
    inputs:
      destination-group:
        description: the destination group to deploy (mutually exclusive with destination, default "-" for all groups)
        required: false
        type: choice
        options:
        - "-"
        - staging
        - prod
      target-revision:
        description: the revision to deploy, default is github.sha
        type: string
      alveus-file:
        description: alveus file containing deployment metadata
        type: string
  push:
    branches:
    - main

defaults:
  run:
    shell: bash

permissions:
  id-token: write # This is required for requesting the JWT

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      target-revision: ${{ steps.resolve-target-revision.outputs.value }}
      alveus-file: ${{ steps.resolve-alveus-file.outputs.value }}
    steps:
      - name: resolve target revision
        id: resolve-target-revision
        run: |-
          if [ "${{ inputs.target-revision }}" == '-' ]; then
            echo "value=${{ github.sha }}" >> $GITHUB_OUTPUT
          else
            echo "value=${{ inputs.target-revision }}" >> $GITHUB_OUTPUT
          fi
      - name: resolve alveus file
        id: resolve-alveus-file
        run: |-
          if [ -z "${{ inputs.alveus-file }}" ]; then
            echo "value=./.config/alveus.toml" >> $GITHUB_OUTPUT
          else
            echo "value=${{ inputs.alveus-file }}" >> $GITHUB_OUTPUT
          fi

  staging:
    uses: ./.github/workflows/alveus.yml
    needs: [setup]
    with:
      destination-group: staging
      alveus-file: ${{ needs.setup.outputs.alveus-file }}
      target-revision: ${{ needs.setup.outputs.target-revision }}
      argocd-server-default: argocd.example.com
