name: main
on:
  push:
    branches:
    - main
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
    inputs: {}

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v3
        with:
          version: v2025.10.8
          install: true
          cache: true
      - run: make test
